.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 50%;
}

.textfield {
  margin-bottom: 16px;
  width: 100%;
}

.button {
  width: 100%;
}
