.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 50%;
}

.textfield {
  margin-bottom: 16px;
  width: 100%;
}

.button {
  width: 100%;
}

.textarea {
  margin-top: 30px; /* Agregar un margen superior de 30px */
  width: 100%; /* Establecer el ancho al 100% */
  resize: vertical; /* Permitir redimensionar verticalmente */
}
