.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cardMedia {
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
  .cardMedia {
    padding-top: 50%;
  }
  .cardContent {
    text-align: center;
  }
  .cardContent h5 {
    font-size: 1.5rem;
  }
  .cardContent p {
    font-size: 1rem;
  }
  .cardContent h4 {
    font-size: 1.5rem;
  }
}
